table {
  width: 100%;
}
tr.editable-row {
  background-color: greenyellow;
}

th {
  background-color: green;
  color: white;
}

.text-button {
  color: green;
}

h1{
  color: green;
  font-weight: bold;

}

.cont {
  text-align: center;
}
