h2 {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: bold;
  color: green;
}

.button-detail {
  background-color: green;
  margin-left: 50px;
}
.container-card {
  border: solid 1px green;
}
.container-actions {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50px;
  margin-left: 33% ;
}

