<!--<div class="container">
  <h2>TUS DIETAS:</h2>
  <div  class="product-grid container">
    <app-diet
      *ngFor="let diet of diets"
      (dietClicked)="clickDiet($event)"
      [diet]="diet">
    </app-diet>2
  </div>
</div>
-->

<div class="container">
  <h2>Tus Dietas:</h2>
  <div  class="product-grid container">
    <mat-card class="container-card" *ngFor="let data of dataSource.data">
      <mat-card-header>
        <mat-card-title>{{ data.name | uppercase }}</mat-card-title>
      </mat-card-header>
      <div class="crop-image">
        <img src="assets/dieta.jpg" alt="">
      </div>
      <mat-card-actions class="container-actions">
        <a  mat-raised-button class="button-detail" [routerLink]="['/diets', data.id]">Ver detalle</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


