table {
  width: 100%;
}
tr.editable-row {
  background-color: greenyellow;
}

th {
  background-color: green;
  color: white;
}

.text-button {
  color: green;
}
.cont {
  text-align: center;
  color: green;
}
.buton {
  background-color: green;
  color: white;
}
